.site-header{
  margin-top: 8em;
  text-align: center;

  @include smaller-than(medium){
    margin-top: 4em;
  }
}

.main-logo{
  position: relative;
  margin: 0 auto 1.75em;
  width: 80%;
  max-width: 270px;
}

.main-subhead{
  width: 50%;
  max-width: 440px;
  margin: 0 auto 1em;
  @extend .serif;
  font-size: 1.5em;
  font-weight: 100;

  @include smaller-than(medium){
    width: 90%;
  }
}

.text-number{
  color: tomato;
  font-size: 5em;
  @extend .sans;
  font-weight: 700;
}