.site-header{
  text-align: center;
}

.main-logo{
  position: relative;
  margin: 4em auto 1em;
  width: 270px;
}

.main-subhead{
  width: 50%;
  margin: 0 auto 1em;
  @extend .serif;
  font-size: 1.5em;
  font-weight: 100;
}

.text-number{
  color: tomato;
  font-size: 5em;
  @extend .sans;
  font-weight: 700;
}